@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=DM+Serif+Display:ital@0;1&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

body {
  height: 100rem;
  display: contents;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}




.video-background {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 97vh;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  min-width: 100vh;
  min-height: 100vh;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.71);
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: padding 0.5s ease-in-out;
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo img .shrink {
  margin-left: 10em;
}

.navbar.shrink {
  padding: 10px;
}

.logo img {
  height: 90vh;

  margin-left: 5em;
  transition: height 0.5s ease-in-out;
  background: radial-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(154, 154, 154, 0),
    rgba(0, 0, 0, 0)
  );

  z-index: 5;
}

.tagline p {
  align-items: center;
  margin-left: 345px;
  margin-top: 66%;
  font-size: 40px;
  font-family: "Dancing Script", cursive;
  color: #ffffff;
  font-weight: 500;
  transition: margin 0.5s ease-in-out;
  text-transform: capitalize;
}

p {
  transition: font-size 0.5 ease-in-out;
}

.navbar.shrink p {
  transition: font 0.5s ease-in-out;
  font-size: 30px;
  margin-left: 25px;
  margin-top: 40px;
  transition: margin 0.5s ease-in-out;
  transition: font-size 0.5 ease-in-out;
}

.navbar.shrink .logo img {
  height: 15vh;
}

.nav-links {
  margin-left: 2em;
  text-align: end;
  margin: 50px;
}

.nav-links a {
  display: inline-flex;
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  margin: 0 400px  0 0;
}

.nav2 {
  width: 100%;
  height: 15vh;
  padding: 15px;
  z-index: 101;
  position: fixed;
}

.nav2 a {
  padding: 0.29em;
  border-radius: 5px;
  transition: 0.15;
  border-color: aliceblue;
  border-bottom: 2px;
}

.nav2 a:hover:before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0;
  /* 3px = the thickness */
  background: #ce4f20;
  /* the color */
  scale: 0 1;
  transition: 0.3s, translate 0s 0.3s;
  color: #fff;
}

H1 {
  text-align: start;
  font-size: 50px;
  text-align: center;
  padding-top: 3%;
}

#contactus h1 {
  font-size: 40px;
}

#contacyus h1 p {
  text-align: start;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 35.5em;
  display: flex;
  font: bold 1.5rem sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  justify-content: end;
}

ul li {
  padding: 0 0.5em 0.25em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

ul li:hover {
  color: #cd532a;
}

li:before {
  content: "";
  position: absolute;
  inset: calc(100% - 3px) 0 0 0;
  /* 3px = the thickness */
  background: #ce4f20;
  /* the color */
  scale: 0 1;
  transition: 0.3s, translate 0s 0.3s;
}

ul:hover li:before {
  scale: 1;
}

ul li:hover:before {
  translate: 0;
  transition: 0.3s;
}

ul:hover li:has(~ li:hover):before {
  translate: 100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}

ul:hover li:hover ~ li:before {
  translate: -100% 0;
  transition: 0.2s 0.2s, scale 0s 0.4s;
}

.content h1 {
  text-align: justify;
  margin-left: 1.5em;
  position: relative;
}

.content {
  height: 62em;
  background-color: antiquewhite;
  background-image: url();
  position: absolute;
  display: grid;
  z-index: -1;
  text-align: center;
  width: 100%;
  color: black;
  padding-top: 0;
  /* add top padding to content to prevent overlapping by the sticky navbar */
}

.content h1 {
  font-size: 3.5em;
}

.content span {
  border-radius: 20px;
  padding: 5px 7px 5px 7px;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 23%;
  color: #aa998f;
}

.card {
  width: 90%;
  max-width: 70em;
  margin: 7.5rem;
  border-radius: 2em;
  perspective: 1000px;
  cursor: pointer;
  margin: -2em 0em 7em 30em;
}

.card-front {
  position: relative;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
  width: 105%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  background-color: #aa998f;
  border-radius: 6em;
  color: rgb(255, 255, 255);
  padding: 0em 3em 0em 3em;
  box-sizing: border-box;
}

.whyto h1 {
  font-size: 40px;
}

.discription p {
  margin: 1em 0;
  text-align: center;
  font-size: 25px;
  text-transform: capitalize;
}

.sectors {
  bottom: 0;
  height: 3700px;
  width: 100%;
  background-color: antiquewhite;
  margin-bottom: -250px;
  top: 50%;
  margin-top: 49em;
}

.sectors h1 {
  font-size: 40px;
  align-items: center;
  font-weight: 900;
  position: sticky;

  top: 7rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 25px;
  font-family: "Roboto", sans-serif;
}

.abt-adv img {
  background-color: #bbb;
  width: 100%;

  background-size: cover;
  filter: blur(10px);
  z-index: -10;
  position: absolute;
  margin-top: -8%;
}

.maps {
  align-items: center;
}

iframe {
  width: 100%;
}

footer {
  height: 30em;
}

.conus {
  background-color: #ce4f20;
  color: whitesmoke;
}

.container {
  margin: 58% 0px 0 0;
  width: 100%;
  justify-content: center;
  z-index: 10;
}

.container h1 {
  color: black;
}

.contus h1 {
  padding-top: 0;
}

.container-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  gap: 24px;
  margin: 25px 20px 25px 15%;
  height: 4500px;
  align-items: flex-start;
}

.card1 {
  width: 94%;
  margin: 0 20px;
  box-sizing: border-box;
  background: #dedede;
  min-height: 500px;
  border-radius: 32px;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Serif 4", serif;
  font-size: 90px;
  font-weight: medium;
  color: #fff;
  border: 5px solid #cd532a;
  border-style: ridge;
}

.one {
  top: 15rem;
  background-image: url(IMG_8130.JPG);
  background-repeat: no-repeat;
  background-size: 110%;
}

.two {
  top: 16rem;
  background-image: url(IMG_8132.JPG);
  background-repeat: no-repeat;
  background-size: 120%;
}

.three {
  top: 17rem;
  background-image: url(IMG_8134.JPG);
  background-repeat: no-repeat;
  background-size: 110%;
}

.four {
  top: 18rem;
  background-image: url(shutterstock_102461903.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.five {
  top: 19rem;
  background-image: url(IMG_8137.JPG);
  background-repeat: no-repeat;
  background-size: 110%;
}

.six {
  top: 20rem;
  background-image: url(many_more.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
}

.sweets {
  height: 491px;
  width: 100%;
  align-items: center;
  font-size: smaller;
  font-weight: 800;
  color: #aa998f;
  background: linear-gradient(
    to bottom,
    rgba(19, 7, 0, 0.8),
    rgba(19, 7, 0, 0)
  );
  border-radius: 30px;
}

.namkeen {
  height: 491px;
  width: 100%;
  align-items: cenjter;
  font-size: smaller;
  font-weight: 800;
  color: #aa998f;
  background: linear-gradient(
    to bottom,
    rgba(19, 7, 0, 0.8),
    rgba(19, 7, 0, 0)
  );
  border-radius: 30px;
}

.dp {
  height: 491px;
  width: 100%;
  align-items: cenjter;
  font-size: smaller;
  font-weight: 800;
  color: #aa998f;
  background: linear-gradient(
    to bottom,
    rgba(19, 7, 0, 0.8),
    rgba(19, 7, 0, 0)
  );
  border-radius: 30px;
}

.df {
  height: 491px;
  width: 100%;
  align-items: cenjter;
  font-size: smaller;
  font-weight: 800;
  color: #aa998f;
  background: linear-gradient(
    to bottom,
    rgba(19, 7, 0, 0.8),
    rgba(19, 7, 0, 0)
  );
  border-radius: 30px;
}

.spices {
  height: 491px;
  width: 100%;
  align-items: cenjter;
  font-size: smaller;
  font-weight: 800;
  color: #aa998f;
  background: linear-gradient(
    to bottom,
    rgba(19, 7, 0, 0.8),
    rgba(19, 7, 0, 0)
  );
  border-radius: 30px;
}

.mm {
  height: 491px;
  width: 100%;
  align-items: cenjter;
  font-size: smaller;
  font-weight: 800;
  color: #aa998f;
  background: linear-gradient(
    to bottom,
    rgba(19, 7, 0, 0.8),
    rgba(19, 7, 0, 0)
  );
  border-radius: 30px;
}

.why {
  height: 95rem;
  margin-top: 0rem;
  position: relative;
  background-color: #aa998f;
}

.container-3 {
  font-family: "Source Serif 4", serif;
  display: inline-flex;
  flex-direction: column;
  padding: 50px;
  font-size: x-large;
  background-color: antiquewhite;
  color: black;
  align-items: start;
  justify-content: start;
  margin: 23px 25px 25px 25px;
}

.container-3 h1 {
  padding-top: 20px;
}

.why .container-4 {
  bottom: 0;
  height: 22%;
  background-color: #382f29;
  align-items: center;
  justify-content: center;
  display: flex;
}

#contus h1 {
  color: antiquewhite;
  font-family: "Source Serif 4", serif;
}

.image-container {
  position: relative;
  /* Needed for absolute positioning of flip cards */
  display: inline-block;
  /* Adjust according to layout */
}

.image-container img {
  display: block;
  /* Removes extra space below image */
  width: 105em;
  /* Makes image responsive */
  height: 50rem;
}

.card-111 {
  width: 151%;
  display: flex;
  align-items: center;
  background-color: #aa998f;
  color: white;
  padding: 30px 0px 30px 0px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0px 358px 0px -243px;
  justify-content: space-evenly;
}
#contus h1 {
  padding-top: 0;
}

#card1 {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 42px;
}

.contus {
  width: 175px;
  height: 175px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
}
#fc1 {
  left: 40px;
  top: 80px;
}
#fc2 {
  left: 600px;
  top: 80px;
}
#fc3 {
  left: 1150px;
  top: 80px;
}
#fc4 {
  left: 40px;
  top: 480px;
}
#fc5 {
  left: 600px;
  top: 450px;
}
#fc6 {
  left: 1150px;
  top: 450px;
}
.contus img {
  width: 160px;
}

.info {
  font-size: 25px;
}

.info p {
  margin: 5px 0;
}

.info a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.icon {
  margin-right: 10px;
}

#div {
  text-align: center;
}

.flip-card-front p {
  text-align: center;
}

.info p img {
  font-size: 25px;
  margin-top: 1px;
  margin-right: 5px;
  align-items: center;
}

.orby img {
  height: 150px;
}

.flip-card {
  position: absolute;
  width: 346px;
  height: 250px;
  perspective: 1000px;
  display: flex;
  justify-content: space-around;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(360deg);
}

.flip-card-front {
  position: absolute;
  width: 140%;
  height: 100%;
  backface-visibility: hidden;
  /* Hides the back side when facing away */
  display: flex;
  justify-content: center;

  align-items: center;
  border: 1px solid antiquewhite;
  /* Add border for visibility */
  border-radius: 50px;
}

.flip-card-back {
  position: absolute;
  width: 140%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid antiquewhite;
  border-radius: 50px;
  align-content: flex-end;
}

.flip-card-front {
  font-size: xx-large;
  font-weight: 500;

  font-family: "Merriweather", serif;
  background-color: antiquewhite;
  /* Front background color */
  color: #000000;
}

.flip-card-back {
  background-color: #aa998f;
  /* Back background color */
  color: #aa998f;
  transform: rotateY(180deg);
  /* Initial rotation of the back */
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px 0;
    height: 0.5vh;
  }
  .logo img {
    height: 1vh;
    margin: 0 25px 0 0;
  }
  .tagline p {
    font-size: 30px;
    margin: 10px 0;
    text-align: center;
  }
  .nav-links ul {
    flex-direction: column;
    align-items: center;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .content {
    padding-top: 120vh;
  }
  .flip-cards-container {
    position: static;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media screen and (max-width: 481px) {
  .discription { 
    p{
    font-size: 14px;
    }
    h5{
      font-size: 30px;
      margin-bottom: none;
    }
    #tl{
      font-size: 27px;
    }
  }
  .card-front{
    padding: 0 1.5em 0 1.5em;
  }
  .navbar {
    padding: 41px 0;
    height: 100%;
    width: 100%;
    transition: padding .5s ease-in-out
  }
  .navbar.shrink{
    transition: padding .5s ease-in-out;
    
  } 
  
  .content span {
    border-radius: 20px;
    padding: 5px 7px 5px 13vw;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    color: #aa998f;
  }
  .sectors {
    bottom: 0;
    height: 2450px;
    width: 100%;
    background-color: antiquewhite;
    margin-bottom: -51px;
    top: 50%;
    margin-top: 163em;
  }
  .hello {
    position: fixed;
    height: 15vh;
    transition: height 0.5s ease-in-out;
  }
  .logo img {
    height: 20vh;
    margin: 0 25px 0 20px;
    transition: height .5s  ease-in-out;
  }
  .tagline p {
    font-size: 24px;
    margin: 5px 0;
  }
  .nav-links li {
    font-size: 1.2em;
    margin: 5px 0;
  }
  .content{
    height: 65em;
  }
  .content h1 {
    font-size: 2.5rem;
  }
  
  .discription {
    font-size: 0.9rem;
  }
  .card-111 {
    flex-direction: column;
    width: 90%;
    height: 65vh;
    margin: 0px 83px 0px 21px;
  }
  .card {
    width: 90%;
    max-width: 70em;
    margin: 7.5rem;
    border-radius: 2em;
    perspective: 1000px;
    cursor: pointer;
    margin: 5em 0 0em 0.75em;
  }
  .image-container img {
    display: table;
    width: 27em;
    
    margin-top: 48em;
    background-repeat: repeat-y;
    height: 217em;
    
  }
  .flip-card{
    width: 250px;
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 72%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid antiquewhite;
    border-radius: 50px;
    font-size: medium;
    
  }
  #fc1 {
    left: 92.5px;
    top: 800px;
  }
  #fc2 {
    left: 92.5px;
    top: 1100px;
  }
  #fc3 {
    left: 92.5px;
    top: 1400px;
  }
  #fc4 {
    left: 92.5px;
    top: 1700px;
  }
  #fc5 {
    left: 92.5px;
    top: 2000px;
  }
  #fc6 {
    left: 92.5px;
    top: 2300px;
  }

  #flips {
    align-self: flex-start;
  }
  .container-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    gap: 0;
    margin: 0px 0px 0px 55px;
    height: 4500px;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  h1 {
    padding-top: 13%;
  }

.sweets{
  height: 273px;
}
  .spices{
    height: 275px;
  }
  .namkeen {height: 273px;
    font-size: 65px;
  }
  .dp {
    height: 270px;
    font-size: 65px;
  }
  .df {height: 270px;
    font-size: 50px;
  }
  .mm {
    height: 279px;
    font-size: 40px;
  }
  .why {
    height: 156rem;
    h1 {
      font-size: 40px;
    }
    .container-4 {
      height: 31%;
    }
  }
  .flip-card-inner, .flip-card-front{
    width: 100%;height: 251px;
    
  }
  .one,
  .two,
  .three,
  .four,
  .five,
  .six {
    background-repeat: repeat;
    background-size: 120%;
    max-height: 273px;
  }
  .card1{
    min-height: 283px;  
  }
  .container-3{
    padding: 20px;
    font-size: medium;
  }

}
